<nav>
  <img routerLink="/" src="assets/logo/logo1.png" alt="logo" />
  <div class="links">
    <a (click)="onClickScroll('skillSection')">SKILLS</a>
    <a (click)="onClickScroll('myWorkSection')">PORTFOLIO</a>
    <a (click)="onClickScroll('aboutMeSection')">ABOUT</a>
    <a (click)="onClickScroll('contactMeSection')">CONTACT</a>
  </div>

  <mat-icon
    *ngIf="mobile"
    mat-button
    [matMenuTriggerFor]="menu"
    class="menu-button"
    [@openClose]="isOpen"
    >table_rows</mat-icon
  >

  <mat-menu #menu="matMenu" class="toggle-nav-child">
    <button mat-menu-item><a href="#">SKILLS</a></button>
    <button mat-menu-item><a href="#">PORTFOLIO</a></button>
    <button mat-menu-item><a class="about-link" href="#">ABOUT</a></button>
    <button mat-menu-item><a class="about-link" href="#">CONTACT</a></button>
  </mat-menu>
</nav>
