nav {
  background-color: #000000;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px 105px 0 105px;

  a {
    color: white;
    text-decoration: none;
    margin-left: 60px;
    cursor: pointer;

    &:hover {
      color: #fa2759;
    }
  }

  img {
    cursor: pointer;
    height: 50px;
  }
}

/* .toggle-nav-button {
    &:active {
        transform: rotate(90deg);
    
    }
}
 */

@keyframes toggleNav {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(90deg);
  }
}

.open-nav-button {
  animation: 100ms ease-out 1.5s toggleNav forwards;
}

@media (max-width: 1200px) {
}

@media (max-width: 720px) {
  .links {
    display: none;
  }

  ::ng-deep .toggle-nav-child {
    a {
      text-decoration: none;

      &:active {
        color: #fa2759;
      }
    }
  }
}

@media (max-width: 450px) {
  nav {
    padding: 24px 60px 24px 60px;
  }
}
