<nav>
  <img routerLink="/" src="assets/logo/logo1.png" alt="logo" />
  <div class="links">
    <a (click)="onClickScroll('skillSection')">SKILLS</a>
    <a (click)="onClickScroll('myWorkSection')">PORTFOLIO</a>
    <a (click)="onClickScroll('aboutMeSection')">ABOUT</a>
    <a (click)="onClickScroll('contactMeSection')">CONTACT</a>
  </div>

  <mat-icon
    *ngIf="mobile"
    mat-button
    [matMenuTriggerFor]="menu"
    class="menu-button"
    >table_rows</mat-icon
  >

  <mat-menu #menu="matMenu" class="toggle-nav-child">
    <button mat-menu-item (click)="onClickScroll('skillSection')">
      <a class="about-link">SKILLS</a>
    </button>
    <button mat-menu-item (click)="onClickScroll('myWorkSection')">
      <a class="about-link">PORTFOLIO</a>
    </button>
    <button mat-menu-item (click)="onClickScroll('aboutMeSection')">
      <a class="about-link">ABOUT</a>
    </button>
    <button mat-menu-item (click)="onClickScroll('contactMeSection')">
      <a class="about-link">CONTACT</a>
    </button>
  </mat-menu>
</nav>
