nav {
  background-color: #000000;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px 105px 0 105px;

  a {
    color: white;
    text-decoration: none;
    margin-left: 60px;
    cursor: pointer;

    &:hover {
      color: #fa2759;
    }
  }

  img {
    cursor: pointer;
    height: 50px;
  }
}

.rotate-image {
  animation: rotate 0.5s ease-in-out 0s;
  animation-fill-mode: forwards;
  cursor: pointer;
  z-index: 9999;
}

.rotate-image-back {
  animation: rotateBack 0.5s ease-in-out 0s;
  animation-fill-mode: forwards;
  cursor: pointer;
  z-index: 9999;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(90deg);
  }
}

@keyframes rotateBack {
  from {
    transform: rotate(90deg);
  }
  to {
    transform: rotate(0deg);
  }
}

@keyframes toggleNav {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(90deg);
  }
}

.open-nav-button {
  animation: 100ms ease-out 1.5s toggleNav forwards;
}

@media (max-width: 720px) {
  .links {
    display: none;
  }
}

@media (max-width: 450px) {
  nav {
    padding: 24px 60px 24px 60px;
  }
}
