<div class="contact-main-container">
  <div class="contact-head">
    <h1>Contact me.</h1>
    <span
      >Get in touch via the form below or by emailing <br /><a
        href="mailto:home@thomas-danielse.de"
      >
        home@thomas-danielse.de</a
      >.</span
    >
  </div>

  <form
    [formGroup]="contactForm"
    (submit)="sendMail()"
    ngNativeValidate
    class="contact-form"
  >
    <mat-form-field appearance="outline">
      <mat-label>Enter your name</mat-label>
      <input
        #name
        name="name"
        matInput
        placeholder="Your name"
        type="text"
        formControlName="name"
      />
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Enter your Email adress</mat-label>
      <input
        #email
        name="email"
        matInput
        placeholder="Your email andress"
        type="email"
        formControllName="email"
      />
    </mat-form-field>
    <mat-form-field class="message" appearance="fill">
      <mat-label>Enter your message</mat-label>
      <textarea
        #message
        name="message"
        matInput
        type="text"
        formControlNameme="message"
      ></textarea>
    </mat-form-field>

    <button
      type="submit"
      [disabled]="isDisabled"
      [ngClass]="[!isDisabled ? 'primary-default' : 'disabledButton']"
      class="primary-default"
    >
      Send
    </button>
  </form>
</div>
