<div class="contact-main-container" id="contactMeSection">
    <div class="contact-head">
        <h2>Contact me.</h2>
        <span>Get in touch via the form below or by emailing <br /><a
        href="mailto:home@thomas-danielse.de"
      >
        home@thomas-danielse.de</a
      >.</span
    >
  </div>

  <form style="overflow-x: hidden"
    [formGroup]="contactForm"
    (submit)="sendMail()"
    ngNativeValidate
    class="contact-form"
  >
    <mat-form-field  appearance="outline" data-aos="fade-right">
      <mat-label>Enter your name</mat-label>
      <input
        name="name"
        matInput
        placeholder="Your name"
        type="text"
        formControlName="name"
      />
    </mat-form-field>
    <mat-form-field  appearance="outline" data-aos="fade-left">
      <mat-label>Enter your Email address</mat-label>
      <input
        name="email"
        matInput
        placeholder="Your email andress"
        type="email"
        formControlName="email"
      />
    </mat-form-field>
    <mat-form-field  class="message" appearance="fill" data-aos="fade-right">
      <mat-label>Enter your message</mat-label>
      <textarea
        name="message"
        matInput
        type="text"
        formControlName="message"
      ></textarea>
    </mat-form-field>
    <button
      type="submit"
      [disabled]="isDisabled"
      [ngClass]="[!isDisabled ? 'primary-default' : 'disabledButton']"
      class="primary-default"
    >
      Send
      <div class="position-realtive">
        <ngx-spinner
          bdColor="rgba(0, 0, 0, 0.8)"
          size="medium"
          color="#2dfcda"
          type="pacman"
          [fullScreen]="true"
          [style.overflow]="'hidden'"
          ><p style="color: white">Sending...</p></ngx-spinner
        >
      </div>
    </button>
  </form>
</div>