<div class="my-work-section">
    <h2>My work</h2>

    <div>
        <button class="secondary-dafault">All</button>
        <button class="secondary-dafault">Angular</button>
        <button class="secondary-dafault">Javascript</button>
    </div>
    <div class="projects">



        <div class="position-relative" *ngFor="let project of projectCard; let i=index;">
            <img src="{{project.imgPath}}" class="project-img" alt="">
            <div (mouseover)="project.showCard=true;" (mouseleave)="project.showCard=false" class="project-card">
                <ng-container *ngIf="project.showCard">

                    <h2>{{project.name}}</h2>
                    <span>{{project.description}}</span>

                </ng-container>
            </div>
        </div>




    </div>
</div>