h2 {
  margin-bottom: 48px;
}

.skill-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  background-color: #1a1a1a;
  padding: 45px 0 45px 0;
}

.skills {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  width: min(720px, 90%);
}

.skill-container {
  height: 110px;
  width: 164px;
  background-color: white;
  border-radius: 5px;
  margin: 17px;
}

.single-skill-container {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  justify-content: space-around;
  color: black;
  height: inherit;
  position: relative;
  bottom: 37px;

  span {
    font-size: 15px;
    text-align: center;
    padding: 0 6px;
  }
}

.img-container {
  background-color: white;
  height: 62px;
  width: 62px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  box-shadow: 0px 1px 5px -2px #1a1a1a;

  img {
    height: 35px;
    width: 35px;
  }
}

@media (max-width: 660px) {
  .skills {
    width: 92%;
  }

  .skill-container {
    height: 85px;
    width: 124px;
    margin: 12px;
  }

  .single-skill-container {
    bottom: 31px;

    span {
      font-size: 13px;
    }
  }

  .img-container {
    height: 54px;
    width: 54px;

    img {
      height: 29px;
      width: 29px;
    }
  }
}

@media (max-width: 500px) {
  .skill-container {
    height: 64px;
    width: 95px;
    margin: 8px;
  }

  .single-skill-container {
    bottom: 22px;

    span {
      font-size: 12px;
    }
  }

  .img-container {
    height: 42px;
    width: 42px;

    img {
      height: 24px;
      width: 24px;
    }
  }
}
