h2 {
    margin-bottom: 60px;
}

.skill-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-color: #1A1A1A;
    padding: 45px 0 45px 0;
}

.skills {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    width: 50%;
}

.skill-container {
    height: 125px;
    width: 185px;
    background-color: white;
    border-radius: 5px;
    margin: 20px;
}

.single-skill-container {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: space-around;
    color: black;
    height: inherit;
    position: relative;
    bottom: 41px;
}

.img-container {
    background-color: white;
    height: 70px;
    border-radius: 50%;
    width: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    box-shadow: 0px 1px 5px -2px #1a1a1a;

    img {
        height: 40px;
        width: 40px;

    }
}