<div class="abot-me-section">
  <div class="about-me-child">
    <div class="about-me-top">
      <img src="assets/profil/profil2.PNG" alt="" />
      <div class="about-me-text">
        <h2>About me.</h2>
        <span
          >I'm a techik passionated skadkosa and front end developer who loves
          go deep into a subject</span
        >
      </div>
    </div>
    <div class="thats-me">
      <div *ngFor="let step of steps" class="my-steps">
        <div class="img-background">
          <img src="{{ step.imgPath }}" alt="" />
        </div>
        <span class="head">{{ step.head }}</span>
        <span>{{ step.description }}</span>
      </div>
    </div>
  </div>
</div>
