* {
  color: #ffffff;
}

h1 {
  margin-bottom: 50px;
}

h2 {
  margin-bottom: 30px;
}

.imprint-container {
  height: 100vh;
  padding: 50px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-evenly;
  background-color: #1a1a1a;
}
