.home-section {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    background-color: #000000;
    height: 100vh;
    padding: 45px 105px 0 105px;


    span {
        font-size: 64px !important;
    }

    img {
        width: 230px;
        border-radius: 180px;
        margin-right: 105px;
        margin-top: 40px;
    }

}

.position-absolut {
    position: absolute;
}

.name-placeholder {
    color: #000000;
}

@keyframes flipLetter {
    100% {
        transform: scale(-1, 1);
    }

    0% {
        transform: scale(1);
    }
}

.letter-e {
    display: inline-block;
    animation: 1s ease-out 1.5s 2 flipLetter;
    animation-fill-mode: forwards;
}