<div class="home-section" id="tsparticles" style="overflow-x: hidden">
    <div class="home-section-child">
        <div class="header">
            <h1>Hi,</h1>
            <h1>
                I'm
                <span class="position-absolut name" data-aos="fade-down" data-aos-easing="ease-in-sine" style="color: #2dfcd8">
          Thomas
        </span>
                <span class="name-placeholder name"> Thomas </span>Danielse,
            </h1>
            <h1>
                front-end
                <span class="nowrap name">develop<span class="letter-e name" style="color: #fa2759">e</span
          >r</span
        >
      </h1>
      <button
        class="contact-button with-500"
        (click)="onClickScroll('contactMeSection')"
      >
        Contact me
      </button>
    </div>
    <img class="profil-img" src="assets/profil/profil1.png" alt="" />
  </div>
  <a (click)="onClickScroll('skillSection')">
    <img class="arrow-img" src="assets/img/icons/arrow.png" alt=""
  /></a>
</div>